.navbar {
    color: #fff;
    border-bottom: 2px solid white;
    display: flex;
    text-decoration: none;
}

.navbar {
    color: #fff;
    list-style-type: none;
    margin-right: 1rem;
}

.links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-decoration: none;
}

.link {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}